body {
  font: 75% "Trebuchet MS", sans-serif;
  margin: 50px;
}

html {
  overflow-y: scroll;
}

.demoHeaders {
  margin-top: 2em;
}

#dialog-link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}

#dialog-link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}

#icons {
  margin: 0;
  padding: 0;
}

#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}

#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}

#tabs {
    white-space: nowrap;
    overflow: hidden;
}

#tabs ul li {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

.fakewindowcontain .ui-widget-overlay {
  position: absolute;
}

select {
  width: 200px;
}

td tr {
  box-sizing: border-box;
}

p {
   word-wrap: break-word;
   white-space: normal;
}

table {
  box-sizing: border-box;
  padding:0;
  border-collapse:collapse;
}

input[type='text'] {
  box-sizing: border-box;
  font-family: monospace;
  width: 100%;
  margin: 0px;
  border: 1px solid;
}

input[type='password'] {
  box-sizing: border-box;
  font-family: monospace;
  width: 100%;
  margin: 0px;
  border: 1px solid;
}

textarea[type='text'] {
  box-sizing: border-box;
  font-family: monospace;
  width: 100%;
  /*resize: none;*/
}

.hidden-pre {
    box-sizing: border-box;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    font: 120% monospace;
}

.ui-progressbar {
  position: relative;
  height: 20px;
}

.tokens-progressbar-label {
  position: absolute;
  left: 46%;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}