body {
	font: 75% sans-serif;
	font-family: monospace, serif;
	width: 50%;
	min-width: 600px;
	min-height: 480px;	
    margin: auto;  
}

html {
	overflow-y: scroll;
}

select {
	width: 200px;
}

td tr {
	box-sizing: border-box;
}

p {
	word-wrap: break-word;
	white-space: normal;
}

table {
	box-sizing: border-box;
	padding: 0;
	border-collapse:collapse;
	width: 100%;
}

textarea, textarea:focus {
	font: 120% monospace !important;
	border: 1px solid;
	border-color: #DDDDDD;
	box-sizing: border-box;
	width: 100%;
	outline: none;
}

input {
	box-sizing: border-box;
	margin: 0px;	
}

input[type='text'], input[type='password'] {
	font: 110% monospace !important;
	border: 1px solid #DDDDDD;
	width: 100%;
}

/* classes */

.text {
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	align: left;
}

.title-td {
	text-align: left;
	font: bold 16px Arial;
	color: #1376BC;
	white-space: nowrap;
	text-align: left;
}

.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

.hidden-pre {
    box-sizing: border-box;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    font: 120% monospace;
}

.ui-progressbar {
	position: relative;
	height: 20px;
}

.ui-accordion .ui-accordion-content {
	padding: 4px;
}

.ui-accordion .ui-accordion-header{
	padding-top: 1px;
	padding-bottom: 1px;
}

.ui-tabs .ui-tabs-panel {
    padding: 4px;
}

/* .ui-widget-header {
    font-weight: bold;
    height: 30px
}

.ui-widget-header ul {
    height: 26px;   
}

.ui-tabs .ui-tabs-nav li {
    height: 26px;
    font-size: 1em;
}
.ui-tabs-nav .ui-tabs-anchor {
    height: 26px;
	outline: none;
}
.ui-tabs .ui-tabs-nav li a {
    position:relative;
    top:-2px ;
} */

.warning-td {
	background: pink;
	font: 100% monospace;
	text-align: center;
}

.tokens-progressbar-label {
	position: absolute;
	left: 46%;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
/* id's */

#tabs {
    white-space: nowrap;
    overflow: hidden;
}

#tabs ul li {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}