/* html {
  overflow-y: scroll;
} */

body {
	font: bold 100% Monospace;
	font-size: 100%;
	background: #FCFCFC;
	color: black;
	width: 60%;
	min-width: 620px;
	min-height: 480px;
	align: justify;
    margin: auto;
}

*:focus {
	outline: none;
}

* {
	box-sizing: border-box;
}

button, button.tab-button-off{
	width: 70px;
	height: 70px;
	background: #F0FFFF;
	border: 0 solid black;
	opacity: 0.8;
}

button:disabled, button:disabled:hover  {
	border: 0;
	background: #2F4F4F;
	cursor: default;
	opacity: 0.4;
}

button:hover {
	background: #87CEEB;	
	border: 0;
	cursor: pointer;
}

button.tab-button-off:active:hover {
	background: #2F4F4F;
	border: 0 solid #DDDDDD;
	color: white;
}

button.tab-button-on {
	width: 70px;
	height: 70px;
	background: #90EE90;
	border: 0 solid black;
}

#modal_overlay {
    position: absolute;
    z-index: 90;
    background: black;
    display: block;
    opacity: 0.05;
    filter: alpha( opacity=5 );
    width: 100%;
    height: 100%;
}

#tabs_div {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  background: #FCFCFC;
}

.ui-tabs-nav { 
	display: none;
}

/* .ui-tabs-nav {
	display:inline;
}  */


#tabs_div ul li {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.info-td {
  font: 120% Monospace;
  border: 0px;
  font-style: italic;
  border-radius: 0px;
}

.hidden-data {
  white-space: pre;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid CornflowerBlue;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;      
  font: 120% monospace;
}

.log-area-div {
  font: italic 100% monospace;    
}

.subtitle-td {
	text-align: center;
	font: bold 100% Monospace;
	font-size: 20px;
	color: #1376BC;
}

.subscribe-td {
	font: 60% Monospace;
	border: 0px;
	font-style: italic;
	border-radius: 0px;
	text-align: right;
	vertical-align: top;
}

.tab-buttons-table{
	border: 0px solid #DDDDDD;
}

.text-align-right{
	text-align: right;
}

.text-align-left{
	text-align: left;
}

.text-align-center{
	text-align: center;
}

.title-td {
	text-align: left;
	font: bold 100% Monospace;
	font-size: 36px;
	color: #1376BC;
}

.ui-tabs-active {
	box-shadow: 0 0 2px 0 #aaa;
	background: #FCFCFC;
}

.welcome-p {
	padding: 10px;
	text-align: justify;
	font: 100% Tahoma;
}

table {
	padding:0;
	border-collapse:collapse;
}

p {
	word-wrap: break-word;
    white-space: normal;
}

led {
  text-align: center;
  vertical-align: center;
}
  
textarea[type='text'] {
  width: 100%;    
  font: 130% monospace;
  margin: 0px;
  border:1px solid #aaa;
  border-radius: 0;
} 


/* input[placeholder], input::-webkit-input-placeholder, input::-moz-placeholder, input:-moz-placeholder, input:-ms-input-placeholder {
	font: italic 90% Monospace;
	text-overflow: ellipsis;
	color: red;
} 

textarea[placeholder], textarea::-webkit-textarea-placeholder, textarea::-moz-placeholder, textarea:-moz-placeholder, textarea:-ms-textarea-placeholder {
	font: italic 90% Monospace;
	text-overflow: ellipsis;
} */

input[class='hasDatepicker'] {
  margin: 0px;  
  border:1px solid #aaa;
  border-radius: 0;
}  

input[type='checkbox'] { 
  margin: 5px;    
  border:1px solid #aaa;
  border-radius: 0;
}

input[type='checkbox']:focus {
  background: #fff; 
  border:1px solid #555; 
}  

input[type='text'], input[type='password'] { 
  font: 130% monospace;
  width: 100%;
  margin: 0px;    
  border: 1px solid #aaa;
  border-radius: 0;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus {
  border:1px solid #555; 
}

input:required:valid, textarea:required:valid {
  border-color: #28921f;
}

input:focus:invalid,  textarea:focus:invalid {
  border-color: #b03535
}   