html
{
  /* overflow-y: scroll; */
}

body
{
	font-family: Arial, Verdana, Consolas, "Courier New", monospace;
	background: #FCFCFC url("../img/bgfon.png");
	color: black;
	width: 60%;
	height: 100%;
	min-width: 500px;
	min-height: 480px;
	text-align: justify;
	margin: auto;
}
	
*:focus
{
    outline: none;
}

*
{
    box-sizing: border-box;
}

a:link,
a:visited
{
    color: #1376BC;
}

button
{
    font: normal 12px Consolas, "Courier New", monospace !important;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
}

#label_file_upload
{
    vertical-align: top;
    font: bold italic 10px Consolas, "Lucida Console", monospace !important;
    text-align: center;
    width: unset;
    height: unset;
    border: 0px solid #F0F0FF;
    background-color: #FCFCFC;
    margin: 0;
    padding: 0 2px 0 2px;
    opacity: 1;
}

#label_file_upload:hover
{
    background-color: #87CEEB;
    cursor: pointer;
}

#input_file_upload
{
    display: none;
}

button.search-dn
{
    font: 12px Consolas, "Courier New", monospace !important;
    text-align: center;
    width: unset;
    min-width: 230px;
    height: unset;
    border: 0;
    background: #EEEEFE;
    margin: 0;
    padding: 0;
    opacity: 1;
}

button.search-tab-button
{
    font: 12px Consolas, "Courier New", monospace !important;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 1px solid #F0F0FF;
    background: #FCFCFC;
    margin: 0;
    padding: 0;
    opacity: 1;
}

button.search-tab-button-active
{
    font: 12px Consolas, "Courier New", monospace !important;
    text-align: center;
    width: 70px;
    height: 70px;
    border: 1px solid #1376BC;
    background: #FCFCFC;
    margin: 0;
    padding: 0;
    opacity: 1;
}

button.tab-button-off,
button.show-keys-button-off,
button.button-enabled
{
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #1376BC;
    opacity: 1;
    -webkit-transition: background 0.20s;
    -moz-transition: background 0.20s;
    -o-transition: background 0.20s;
}

button.tab-button-on,
button.show-keys-button-on
{
    width: 70px;
    height: 70px;
    background: #00CED1;
    opacity: 1;
    border: 1px solid #1376BC;
}

button.tab-button-on:hover
{
    background: #90FEF1;
    cursor: pointer;
}

button:hover,
button.tab-button-off:hover,
button.show-keys-button-off:hover,
button.show-keys-button-on:hover,
button.button-enabled:hover
{
    background: #EEEEFE;
    cursor: pointer;
}

button.tab-button-off:active:hover,
button.tab-button-on:active:hover,
button.show-keys-button-off:active:hover,
button.show-keys-button-on:active:hover
{
    background: #20B2AA;
}

button.button-disabled
{
    background: #808080;
    color: #F5F5F5;
    opacity: 0.5;
    width: 70px;
    height: 70px;    
}

button.button-disabled:active:hover
{
    background: #2F4F4F;
    color: #F5F5F5;
    opacity: 0.4;
}

button.button-disabled:hover
{
    background: #808080;
    color: #F5F5F5;
    opacity: 0.4;
}

#button_create
{
    margin-top : 48px;
}

#div_tabs
{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    background: #FCFCFC;
}

#div_tabs ul li
{
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

#div_modal_window  /* modal window */
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#div_modal_window_content  /* modal window content box */
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #13A0F0;
    width: 500px;
    box-shadow: 0 0 20px 4px #C9C9C9;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    font: 16px Consolas;
}


#div_modal_window_content:hover,
#div_modal_window_content:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#div_modal_window_content_header
{
    padding: 1px 1px;
   /*  background-color: #FF0000; */
    color: white;
}

#div_modal_window_content_body
{
    padding: 10px 10px;
    background-color: #FCFCFC;
}

#div_modal_window_content_footer
{
    padding: 1px 1px;
    /* background-color: #FF0000; */
    color: white;
}

input[class='hasDatepicker']
{
    margin: 0px;
    border: 1px solid #DDDDDD; /*#aaa;*/
    border-radius: 0;
    font: 16px Consolas, "Courier New", monospace !important;
}

input[placeholder]
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

input::-webkit-input-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

input:-ms-input-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

input:-moz-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

input::-moz-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

input[type='text'],
input[type='password']
{
    font: 16px Consolas, "Courier New", monospace !important;
    width: 100%;
    margin: 0;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    box-sizing: border-box;
    
}

input[type='text']:focus,
input[type='password']:focus
{
    border: 1px solid #DDDDDD;
}

input:required:valid
{
    border: 1px solid #DDDDDD;
}

input:invalid
{
    border: 1px solid #DDDDDD;
    box-shadow: none;
}

input:focus:invalid
{
    border-color: red;
}


led
{
    text-align: center;
    vertical-align: middle;
}

p
{
    word-wrap: break-word;
    white-space: normal;
    margin: 0;
}

#span_password_eye:hover
{
    cursor: pointer;
}

table
{
    border-collapse:collapse;
    box-sizing: border-box;
}

#table_title_area
{
    width: 100%;
}

#table_title_area td:first-child
{
    text-align: left;
    font: bold 32px Verdana !important;
    color: #1376BC;
    text-shadow: 1px 1px 2px #DDDDDD, 0 0 5px #1376BC;
}

#table_title_area td:first-child a
{
	text-decoration: none;
}

#table_title_area td:not(:first-child)
{
    width: 30px; 
	height: 30px; 
	text-align: center;
}

#table_initial_data_area
{
    width: 100%;
}

#table_initial_data_area td
{
    padding: 0 0 3px 0;
}

/* Main area - Start */

#table_main_area
{
    width: 100%;
}

#td_main_tabs_content
{
    vertical-align: top;
    padding: 3px 0 3px 3px;
}

#ul_tabs
{
    display: none;
}

#td_main_tabs_buttons
{
    width: 82px;
    text-align: right;
     vertical-align: top;   
    padding: 3px 3px;
}

#td_main_tabs_buttons table
{
    border: 0 solid #DDDDDD;
}

#td_main_tabs_buttons table td
{
    padding: 3px;
}

#table_create_tab
{
    width: 100%;
    border: 0;
}

#table_create_tab td
{
    padding: 3px 0 3px 3px;
}

#table_set_data_tab
{
    width: 100%;
    border: 0;
}

#table_set_data_tab td
{
    padding: 3px 0 3px 3px;
}

#table_set_data_button
{
	width: 100%;
}

#table_set_data_button td
{
	padding: 0;
}

#td_set_data_length
{
	font: italic 10px Consolas, "Courier New", monospace !important;
	width: 50px; 
	text-align:left;
	vertical-align:top;	
}

#td_set_data_length:hover
{
	cursor: pointer;
}

#table_show_keys_tab
{
    width: 100%;
    border: 0;
}

#table_show_keys_tab td
{
    padding: 3px 0 3px 3px;
}

#td_show_keys_button table
{
    margin: auto;
}

#td_show_keys_button table td
{
    padding: 0 3px 0 3px;
}

#table_receive_tab
{
    width: 100%;
    border: 0;
}

#table_receive_tab td
{
    padding: 3px 0 3px 3px;
}

#table_search_tab
{
    width: 100%;
    border: 0;
}

#table_search_tab td
{
    padding: 3px 0 3px 0;
}

#table_search_tab #td_search_tabs_buttons
{
    vertical-align: top;
    padding: 0;
    width: 76px;
}

#td_search_tabs_buttons table td
{
    padding: 3px;
}

#table_search_tab #td_search_tabs_content
{
    vertical-align: top;
    padding: 3px 3px 3px 3px;
    height: 200px;
}


#div_search_result_tabs div
{
    border: 0 solid #DDDDDD;
    background-color: white;
    width: 100%;
}

#table_search_tab #td_search_tabs_dates
{
    vertical-align: top;
    padding: 3px 0 3px 3px;    
    width: 180px;
}

#td_search_tabs_dates table
{
    table-layout: fixed;
    width: 100%;
    border: 0;
}
/* 
#td_search_tabs_dates table tr td
{
    height: 30px;
    vertical-align: top;
    padding: 0
}

#td_search_tabs_dates table tr:last-child td
{
    text-align: center;
    vertical-align: bottom;
    height: 74px;
} */

#span_current_slice
{
    font: 16px Consolas, "Courier New", monospace !important;
}

#td_label_from_datepicker,
#td_label_to_datepicker
{
    font: 16px Consolas, "Courier New", monospace !important;
	text-align: left;
	width: 50px; 
	height: 30px;
}

#td_input_from_datepicker,
#td_input_to_datepicker
{
	text-align:right; 
	width: 100px;
}

td
{
    vertical-align: bottom;
    box-sizing: border-box;
}

/* Main area - End */

textarea[type='text']
{
    width: 100%;
    font: 16px Consolas, "Courier New", monospace !important;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

textarea:focus
{
    border: 1px solid #DDDDDD;
}

textarea:focus:invalid
{
    border: 1px solid red;
    box-shadow: none;
}

textarea:invalid
{
    border: 1px solid #DDDDDD;
    box-shadow: none;
}

textarea:required:valid
{
    border: 1px solid #DDDDDD;
}


textarea::-webkit-input-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

textarea:-ms-input-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

textarea:-moz-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

textarea::-moz-placeholder
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    text-overflow: ellipsis;
}

#textarea_set_data,
#textarea_show_keys,
#textarea_receive_keys
{
    height: 118px;
}

#span_reload:hover
{
    cursor: pointer;    
}

#span_reload:active
{
    opacity: 0.7;    
}

.ui-tabs-nav
{
    display: none;
}

.div-overflow
{
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    font: 12px Consolas;
    text-align: left;
    height: 194px;
    max-height: 194px;
}

.span-message-box:hover
{
    cursor: pointer;
    /*text-shadow: 1px 1px #DDDDDD;*/
    text-shadow: 1px 1px 2px #DDDDDD, 0 0 2px #1376BC;
}

.td-button
{
    border: 0px solid;
    padding: 0;
    text-align: center;
}

.td-info
{
    font: italic 14px Consolas, "Courier New", monospace !important;
    text-align: left;
    vertical-align: middle;
    border-radius: 0px;
}

.td-log
{
    font: italic 16px Consolas, "Courier New", monospace !important;
    text-align: left;
    border-radius: 0px;
    visibility: hidden;
}

.td-subtitle
{
    text-align: center;
    font: bold 17px Verdana !important;
    color: #1376BC;
}

.td-tab-subtitle
{
    text-align: center;
    vertical-align: top;
    font: bold 17px Verdana !important;
    color: #009070;
}

.td-subscribe
{
    font: italic 8px Consolas, "Courier New", monospace !important;
    border-radius: 0px;
    text-align: right;
    vertical-align: top;
}

.text-align-right
{
    text-align: right;
}

.text-align-left
{
    text-align: left;
}

.text-align-center
{
    text-align: center;
}

.welcome-p
{
    text-align: justify;
    font: normal 16px Consolas, "Courier New", monospace !important;
}

#ui-datepicker-div
{
    display: none;
}


/*   cutted from jquery ui custom */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
    z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-datepicker {
    width: 12em;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .1em .1em;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 10px;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    font: 12px Consolas, monospace;
    width: 50%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 0;/* margin: 0 0 .4em; */
}
.ui-datepicker th {
    padding: .1em .1em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    /* margin: .5em .2em .4em; */
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

/* Component containers
----------------------------------*/
.ui-datepicker
{
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.ui-datepicker-header
{
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}

/*
.ui-widget-header a {
    color: #333333;
}
.ui-widget-content a {
    color: #333333;
}
*/

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    color: #454545;
    font: normal 12px Consolas, monospace;
    padding: 0.1em;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #454545;
    text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #2b2b2b;
    text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* Interaction Cues
----------------------------------*/

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter:Alpha(Opacity=70);
    font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35);
    background-image: none;
}
.ui-state-disabled .ui-icon {
    filter:Alpha(Opacity=35);
}

/* Icons
----------------------------------*/

/* states and images */

.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url("../lib/images/ui-icons_ff0084_256x240.png");
}
.ui-widget-header .ui-icon {
    background-image: url("../lib/images/ui-icons_0073ea_256x240.png");
}
.ui-state-default .ui-icon {
    background-image: url("../lib/images/ui-icons_666666_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    background-image: url("../lib/images/ui-icons_ffffff_256x240.png");
}
.ui-state-active .ui-icon {
    background-image: url("../lib/images/ui-icons_454545_256x240.png");
}
.ui-state-highlight .ui-icon {
    background-image: url("../lib/images/ui-icons_0073ea_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    background-image: url("../lib/images/ui-icons_ff0084_256x240.png");
}
/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
    margin: 0px 0 0 0px;
    padding: 5px;
    background: #666666;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px;
}


/* Mobile version
----------------------------------*/


/*@media screen and (max-width: 800px)*/
@media all and (max-width: 100mm)
{
	body
	{
		width: 95%;
		background: #ACFCAF url("../img/bgfon.png");
	}
}
