BODY {
	font-family: monospace;
	font-size: 90%;
	background: white;
	color: black;
	width: 800;
	min-width: 600px;
	min-height: 300px;
    background: #FCFCFC;
    margin: 0px;
}

*:focus {
	outline: none;
}

img {
	vertical-align: center;	
}

.title {
	font-family: monospace;
	font-size: 48px;
	font-weight: bold;
	min-width: 600px;
	min-height: 300px;
	width: 100%;
	margin: auto; 
	valign: center;
}

.menu table {
	border: 1px solid #DDDDDD;
	border-spacing: 10px 20px;
}

.menu button {
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	color: black;
	width: 100px;
	height: 80px;
	align: center;
	background: #DCDCDC;
	border: 0;
	border-radius: 0;
	box-shadow: 8px 8px 8px #696969, 0 0px 0px #eee inset;  	
}

.menu button:active {
	border: 0 solid black;
	background: #696969;
	box-shadow: 1px 1px 2px #696969, 0 0px 0px #eee inset;
	color: white;
}

.menu button:hover, button:focus {
	border: 0;
	box-shadow: 10px 10px 10px #696969, 0 0px 0px #eee inset;
	color: white;
	cursor: pointer;  	
}

.menu  button:disabled, button:disabled:active, button:disabled:hover, button:disabled:focus {
	border: 0;
	background: #696969;
	box-shadow: 1px 1px 2px #696969, 0 0px 0px #eee inset;
	cursor: default;
	color: red;
}

.menu button:active:hover, button:active:focus {
	border: 0px;
	box-shadow: 1px 1px 2px #696969, 0 0px 0px #eee inset;
}

.initial-data {
	width: 100%;
	height: 150px;
	max-height: 200px;
}

.initial-data  table {
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	border-collapse:collapse;
	min-width: 500px;
	/*border-spacing: 0 0;	*/
	padding:0;
}

.initial-data input[type='text'], input[type='password'] { 
	box-sizing: border-box;
	font: 130% monospace;
	width: 100%;
	margin: 0px;    
	border: 1px solid #aaa;
	box-shadow: 8px 8px 8px #696969, 0 0px 0px #eee inset;
	border-radius:0px;
}

.initial-data input[type='text']:focus, input[type='password']:focus {
	border:1px solid #555; 
	box-shadow: 8px 8px 8px #696969, 0 0px 2px #eee inset; /*box-shadow: 0 0 3px #aaa;*/
}

input:required:valid {
	box-shadow: 8px 8px 8px #696969, 0 0px 2px #eee inset; /*box-shadow: 0 0 3px #5252d4;*/
	border-color: #28921f;
}

.initial-data input:focus:invalid {
	box-shadow: 8px 8px 8px #696969, 0 0px 2px #eee inset; /*box-shadow: 0 0 3px #d45252;*/
	border-color: #b03535
}

.token-hash {
}